##  1) Write a Python program which accepts a list named : randomList = ['a', 0, 2]. Use exception handling using try-catch which gives the output as: 
### 1) If the List element is a alphabet or string, the output will be The entry is a 
### Oops! <class 'ValueError'>occured. Next entry.

In [28]:
def CrList():
    randomList =[] 
    try:
        mem = int(input("The entry is "))
        #randomList.append(mem)
    except:
        print("Oops! <class 'ValueError'>occured. Next entry")

In [29]:
CrList()

The entry is 2

### 2) If the List element is “0”,the output will be The entry is 0  Oops! <class ' ZeroDivisionError’>occured. Next entry.

In [63]:
def CrListt():
    try:
        mem=int(input())
        1/mem
    except:
        print("The entry is ",mem, "Oops! <class 'ZeroDivisionError’>occured. Next entry.")

In [64]:
CrListt()

1

### 3) If the List element is and integer except 0,then output will be The entry is 2 The reciprocal of 2 is 0.5 // reciprocal of an integer

In [68]:
def CrrList():
    try:
        mem =int(input("The entry is "))
        return 'The reciprocal of {} is {}'.format(mem, 1/mem)   
    except:
        print("Oops! <class 'ZeroDivisionError’>occured. Next entry.")

In [70]:
CrrList()

The entry is 2

'The reciprocal of 2 is 0.5'

### 2) Array out of Bound Exception Write a Python program to give exception “Array Out of Bound” if the user wants to access the elements beyond the list size (use try and except)

In [72]:
try:  
    lst = [1, 2, 3]  
    print(lst[3]) 
except LookupError:  
    print("Array Out of Bound.")

Array Out of Bound.

### 3) Write a python module script that contains fib2() method to calculate the Fibonacci series till 1000 and save it as fibo.py.  Note : The module created as fibo.py has to be placed in lib folder: 
#### For linux/ubuntu path = /home/anaconda/lib/python3 
#### For Windows path = C:\Users\Acadgild\Anaconda3\Lib

In [ ]:
done

### 4) Write a python module script that contains ispalindrome() method to calculate the input string as palindrome string or not and save it as palindrome.py.

In [ ]:
done

### 5) Write a program in Python with one class called Cipher. Within the constructor of this class, ask user for a string and store it. Use a static variable, key to store a randomly generated integer between 1 and 50 inclusive. Implement two methods, encrypt and decrypt within this class. Encrypt generates and prints a cipher text using the user-entered string and the key and ecrypt generates decrypted string from ciphertext. The cipher only encrypts alpha and numeric (A-Z, a-z, 0-9). All Symbols, such as - , ; %, remain unencrypted. The cipher text can have special characters. Use generator expression to filter out alpha and numeric characters of the input string and to generate cipher text. Create an instance of this class, encrypt and decrypt back the user entered string.

In [1]:
import numpy as np
from random import randint

In [10]:
class Cipher:
    def __init__(self, messg):
        self.messg= input("Enter a string message: ")
        self.key = list(range(np.random.randint(1,51),51))
        self.wor=''
        self.i=1
        
    def encrypt(self):
        for txt in self.messg:
            if self.i<=len(self.messg):
                num=self.key[self.i]
                #num=str(self.key[self.i])
                num=str(num)
                self.wor+=txt+num
                self.i+=1
        return self.wor
    def decrypt(self):
        for txt in self.messg:
            if ((txt>='a' and txt <='z') or (txt>='A' and txt <='Z')):
                self.wor+=txt  
        return self.wor

In [13]:
ltr= Cipher('')
print(ltr.encrypt())

Enter a string message: test call
t37e38s39t40 41c42a43l44l45

In [224]:
ltr= Cipher('')
print(ltr.decrypt())

Enter a string message: M1y2 n3a4m5e 6i7s8 t9i10g11e12r13
Mynameistiger

### 6) Get Data from the following link:  
#### http://files.grouplens.org/datasets/movielens/ml-20m.zip 
### We will be using the following files for this exercise: 
ratings.csv : userId,movieId,rating, timestamp  
tags.csv : userId,movieId, tag, timestamp  
movies.csv : movieId, title, genres

I. Read the dataset using pandas.  
II. Extract the first row from tags and print its type.  
III.  Extract row 0, 11, 2000 from tags DataFrame. 
V.    Calculate descriptive statistics for the 'ratings' column of the ratings DataFrame. Verify using describe().  
VI.   Filter out ratings with rating > 5  
VII. Find how many null values, missing values are present. Deal with them. Print out how many rows have been  modified. 
VIII. Filter out movies from the movies DataFrame that are of type 'Animation'. 
IX. Find the average rating of movies.  
X. Perform an inner join of movies and tags based on movieId.  
XI. Print out the 5 movies that belong to the Comedy genre and have rating greater than 4. 
XII. Split 'genres' into multiple columns. 
XIII. Extract year from title e.g. (1995). 
XIV. Select rows based on timestamps later than 2015-02-01. 
XV. Sort the tags DataFrame based on timestamp.

In [2]:
import os
os.getcwd()

'C:\\Users\\JSM\\Downloads\\DataScience\\Assignmnt\\Sess6_12'

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### I Read the dataset using pandas.

In [4]:
moviesCritcRat = pd.read_csv('C:\\Users\\JSM\\Downloads\\DataScience\\25May\\ml-20m\\ratings.csv')
moviesCritcRat.head(3)

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819

In [5]:
moviesTags = pd.read_csv('C:\\Users\\JSM\\Downloads\\DataScience\\25May\\ml-20m\\tags.csv')
moviesTags.head(3)

   userId  movieId          tag   timestamp
0      18     4141  Mark Waters  1240597180
1      65      208    dark hero  1368150078
2      65      353    dark hero  1368150079

In [41]:
moviesIns = pd.read_csv('C:\\Users\\JSM\\Downloads\\DataScience\\25May\\ml-20m\\movies.csv')
moviesIns.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

### II Extract the first row from tags and print its type.

In [123]:
fs_row = moviesTags.loc[[0],:]
fs_row

   userId  movieId          tag   timestamp
0      18     4141  Mark Waters  1240597180

In [124]:
type(fs_row)

pandas.core.frame.DataFrame

### III  Extract row 0, 11, 2000 from tags DataFrame.

In [150]:
moviesTags.loc[[0,11,2000],:]

      userId  movieId                tag   timestamp
0         18     4141        Mark Waters  1240597180
11        65     1783      noir thriller  1368149983
2000     910    68554  conspiracy theory  1368043943

###  V Calculate descriptive statistics for the 'ratings' column of the ratings DataFrame. Verify using describe().

In [161]:
print( moviesCritcRat.describe() )

             userId       movieId        rating     timestamp
count  2.000026e+07  2.000026e+07  2.000026e+07  2.000026e+07
mean   6.904587e+04  9.041567e+03  3.525529e+00  1.100918e+09
std    4.003863e+04  1.978948e+04  1.051989e+00  1.621694e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
25%    3.439500e+04  9.020000e+02  3.000000e+00  9.667977e+08
50%    6.914100e+04  2.167000e+03  3.500000e+00  1.103556e+09
75%    1.036370e+05  4.770000e+03  4.000000e+00  1.225642e+09
max    1.384930e+05  1.312620e+05  5.000000e+00  1.427784e+09

### VI  Filter out ratings with rating > 5

In [16]:
rat5=moviesCritcRat.rating>5
moviesCritcRat.rating.loc[rat5]

Series([], Name: rating, dtype: float64)

### VII. Find how many null values, missing values are present. Deal with them. Print out how many rows have been modified.

In [33]:
RatingNull = moviesTags.tag.isnull().values.any() #.values.any()
CriticNull = moviesCritcRat.isnull().values.any()
MoviesNull = moviesIns.isnull().values.any()
print("Null in MoviesRating",RatingNull)
print("Null in MoviesCritic",CriticNull)
print("Null in MoviesIns",MoviesNull)
#moviesCritcRat.isna()

Null in MoviesRating True
Null in MoviesCritic False
Null in MoviesIns False

In [37]:
RatingNa = moviesTags.isna().values.any() #.values.any()
CriticNa = moviesCritcRat.isna().values.any()
MoviesNa = moviesIns.isna().values.any()
print("Null in MoviesRating",RatingNa)
print("Null in MoviesCritic",CriticNa)
print("Null in MoviesIns",MoviesNa)

Null in MoviesRating True
Null in MoviesCritic False
Null in MoviesIns False

In [39]:
SumNull = moviesTags.tag.isnull().sum() #.values.any()
SumNa = moviesTags.tag.isna().sum() #.values.any()
print(SumNull)
print(SumNa)

16
16

### VIII. Filter out movies from the movies DataFrame that are of type 'Animation'.

In [49]:
AniMovies = moviesIns.genres=='Animation'
moviesIns.loc[AniMovies].head()

      movieId                                    title     genres
2503     2588                         Cloudland (1998)  Animation
4906     5002                     Fritz the Cat (1972)  Animation
4907     5003  Nine Lives of Fritz the Cat, The (1974)  Animation
9455    27738          Cathedral, The (Katedra) (2002)  Animation
9989    32840                           Vincent (1982)  Animation

### IX. Find the average rating of movies.

In [51]:
moviesCritcRat.rating.mean()

3.5255285642993797

### X. Perform an inner join of movies and tags based on movieId.

In [54]:
inn_Join = pd.merge(moviesIns, moviesTags, how='right', on='movieId')
inn_Join.head()

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1644,Watched,1417736680
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,computer animation,1183903155
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Disney animated feature,1183933307
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Pixar animation,1183934770
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,TÃ©a Leoni does not star in this movie,1245093573

### XI. Print out the 5 movies that belong to the Comedy genre and have rating greater than 4.

In [58]:
ComedyMovies = moviesIns.genres=='Comedy'
moviesIns.loc[ComedyMovies].head()

    movieId                                  title  genres
4         5     Father of the Bride Part II (1995)  Comedy
17       18                      Four Rooms (1995)  Comedy
18       19  Ace Ventura: When Nature Calls (1995)  Comedy
64       65                        Bio-Dome (1996)  Comedy
68       69                          Friday (1995)  Comedy

### XII. Split 'genres' into multiple columns.

In [63]:
GetGenres= moviesIns.genres
GetGenres.unique()

array(['Adventure|Animation|Children|Comedy|Fantasy',
       'Adventure|Children|Fantasy', 'Comedy|Romance', ...,
       'Action|Adventure|Animation|Fantasy|Horror',
       'Animation|Children|Comedy|Fantasy|Sci-Fi',
       'Animation|Children|Comedy|Western'], dtype=object)

### XIII. Extract year from title e.g. (1995).

In [81]:
YearsFrMovie = moviesIns.title
YearsFrMovie.str.extract('(\d+)').head()

      0
0  1995
1  1995
2  1995
3  1995
4  1995

### XIV. Select rows based on timestamps later than 2015-02-01.

In [71]:
TimeStamp = inn_Join.timestamp >20150201
inn_Join.loc[TimeStamp].head()

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1644,Watched,1417736680
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,computer animation,1183903155
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Disney animated feature,1183933307
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Pixar animation,1183934770
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,TÃ©a Leoni does not star in this movie,1245093573

### XV. Sort the tags DataFrame based on timestamp.

In [73]:
inn_Join.sort_values('timestamp').head()

,movieId,title,genres,userId,tag,timestamp
124798,2788,Monty Python's And Now for Something Completel...,Comedy,100371,monty python,1135429210
88207,1732,"Big Lebowski, The (1998)",Comedy|Crime,100371,coen brothers,1135429236
57979,1206,"Clockwork Orange, A (1971)",Crime|Drama|Sci-Fi|Thriller,100371,stanley kubrick,1135429248
53696,1193,One Flew Over the Cuckoo's Nest (1975),Drama,100371,jack nicholson,1135429371
183830,5004,"Party, The (1968)",Comedy,100371,peter sellers,1135429399